header h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header>nav>ul{
  display: flex;
  flex-wrap: nowrap;
}

header>nav>ul>li{
  flex-grow: 1;
  text-align: center;
}
main{
  display: flex;
}
aside{
  width: 20%;
  float: right;
  height: 30em;
}
