header,body,footer {
 background-color: palevioletred;
}
header h1{
  border: solid;
  background-color: cyan;
}
header li{
  border: solid; 
  list-style: none; 
  background-color: cyan;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
ul>li>section>img{
  width: 20em;
}
aside img{
  width: 2em;
}
aside{
  background-color: cyan;
  border: solid;
}

.Steven{
  display: flex;
  flex-wrap: nowrap;
}

.Connie{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3em;
}

main>ul>li>section>img{
  height: 12em;
}
footer{
  border: solid;
  margin-top: 5em;
}

aside>section>nav>ul>li{
  border: solid;
  width: 5em;
}


